.App-Header
{
font-family: "Comic Sans MS", "Comic Sans", cursive;
color: violet;
font-size: xx-large;
text-align: center;
}

.Card
{
  display: grid;
  grid-Template-Columns: auto auto auto;
  margin-left: 5%;
  margin-right: 5%;
  color: violet;
}
.Card-Media
{
  grid-column: 1;
  grid-row: 1;
  height: 100%; 
  object-fit: cover;
}

.Card-Content
{
  grid-column: 2;
  grid-row: 1;
}
.VC
{
  display: grid;
  grid-Template-Columns: auto auto auto;
  margin-left: 5%;
}